<div class="main">
  <div class="container">
    <div class="center_container">
       <h1>Hello dude my name is Brad Beiermann</h1>
       <p>This is a template with persistent header and footer being done with partials in Rails.</p>
          <div style="width:100%; text-align: center">
            <%= link_to "Go To Next Page", "/second" %>
          </div>  
    </div>   
  </div>
</div>