<div class="main">
  <div class="container">
    <div class="center_container">
       <h1>This is the second page</h1>
       <p>It demonstrates the header and footer being persistent</p>
         <div style="width:100%; text-align: center">
           <%= link_to "Go To Previous Page", "/welcome" %>
         </div>
    </div>   
  </div>
</div>